body{
    background:green;
    color:white;
}
ul { background: black;
}

ul li{
    display: inline;
}
a{background-color: red;
transition: all 1s;
padding:1px;
}

a:hover{
    background-color: pink;
}
iframe{

    width: 100%;
}