body{
    background:green;
    color:white;
}
ul { background: green;
}


ul li{
    display: inline;

}

a{background-color:  aquamarine;
transition: all 1s;
padding:1px;
}

a:hover{
    background-color: pink, color: green;
}
iframe{

    width: 100%;
}